@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
header {
    padding: 20px;
    background-color: rgb(109, 109, 246);
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
header nav li {
    display: inline-block;
}
header img {
    width: 60px;
}
header input {
    border-radius: 30px;
    padding: 5px 10px;
    width: 120px;
}
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
    background-color: #ffffff;
    color: #330a91;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}
footer {
    padding: 5vw 10vw;
    background-color: #111;
    color: #666;
}

footer .flex-container:first-child {
    margin-bottom: 2rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li:first-child a, footer ul:first-child li a {
    color: #9590c9;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
footer i {
    margin-left: 1ch;
    font-size: 1.6rem;
}

footer i:hover {
    transform: scale(1.1);
}